.Too.Easy {
	background-color: white;
	color: black;
}

.Easy {
	background-color: greenyellow;
	color: black;
}

.Medium {
	background-color: yellow;
	color: black;
}

.Hard {
	background-color: red;
}

.Deadly {
	background-color: darkred;
}

.Impossible {
	background-color: black;
}

.mat-card-content {
	text-align: center;
}
